Repository intellistream/sageLLM: changes, and which pre-commit hooks are due for each by the changed paths.
All: test-naming-convention, no-print-statements, check-imports

Path conditions:
  test-naming-convention: any of: ^tests/.*\.py$, but not: ^tests/__init__\.py$|^tests/.*/conftest\.py$|^vendors/
  no-print-statements: any of: ^control_plane/.*\.py$, but not: ^control_plane/examples/|^vendors/
  check-imports: any of: ^(control_plane/|tests/).*\.py$, but not: ^vendors/|__pycache__

docs: reorganize documentation structure
  README.md
  dev-notes/CI_CD_IMPLEMENTATION.md
  dev-notes/DEVELOPMENT.md
Due: none

fix: correct logger format string in ControlPlaneManager.__init__
  control_plane/__init__.py
  control_plane/manager.py
  tests/control_plane/test_autoscaler.py
Due: test-naming-convention, no-print-statements, check-imports

docs: add submodule marker file
  SUBMODULE.md
Due: none

docs: fix trailing whitespace in SUBMODULE.md
  SUBMODULE.md
Due: none

feat: implement Aegaeon scheduling policy (Phase 1)
  control_plane/manager.py
  control_plane/strategies/__init__.py
  control_plane/strategies/aegaeon.py
  tests/control_plane/test_aegaeon.py
Due: test-naming-convention, no-print-statements, check-imports

feat: implement complete Aegaeon scheduling algorithm
  control_plane/strategies/aegaeon.py
  control_plane/types.py
  tests/control_plane/test_aegaeon.py
Due: test-naming-convention, no-print-statements, check-imports

docs: rename sage_vllm to sage_llm in submodule docs
  README.md
  SUBMODULE.md
  dev-notes/CI_CD_IMPLEMENTATION.md
  dev-notes/DEVELOPMENT.md
  pyproject.toml
  tests/README.md
Due: none

Add basic CI workflow for testing with Python
  .github/workflows/ci.yml
Due: none

Add TTFT and TPOT monitoring.
  control_plane/executors/local_async.py
  control_plane/manager.py
  control_plane/monitoring.py
  control_plane/types.py
Due: no-print-statements, check-imports

docs: add Aegaeon implementation status documentation
  dev-notes/AEGAEON_IMPLEMENTATION.md
Due: none

feat(control-plane): add hybrid scheduling for LLM and Embedding
  control_plane/__init__.py
  control_plane/executors/__init__.py
  control_plane/executors/embedding_executor.py
  control_plane/request_classifier.py
  control_plane/strategies/__init__.py
  control_plane/strategies/adaptive.py
  control_plane/strategies/base.py
  control_plane/strategies/cost_optimized.py
  control_plane/strategies/fifo.py
  control_plane/strategies/hybrid_policy.py
  control_plane/strategies/priority.py
  control_plane/strategies/slo_aware.py
  control_plane/types.py
  tests/control_plane/test_embedding_executor.py
  tests/control_plane/test_hybrid_policy.py
  tests/control_plane/test_manager_extended.py
  tests/control_plane/test_request_classifier.py
  tests/control_plane/test_types.py
  tests/test_unified_api_server.py
Due: test-naming-convention, no-print-statements, check-imports

fix(control_plane): fix import paths for types module
  control_plane/strategies/adaptive.py
  control_plane/strategies/base.py
  control_plane/strategies/cost_optimized.py
  control_plane/strategies/fifo.py
  control_plane/strategies/priority.py
  control_plane/strategies/slo_aware.py
  control_plane/types.py
Due: no-print-statements, check-imports

feat(control-plane): add GPU manager, engine lifecycle, and multi-runtime support
  control_plane/engine_lifecycle.py
  control_plane/gpu_manager.py
  control_plane/manager.py
Due: no-print-statements, check-imports

feat(control-plane): add health check, auto-restart, and use_gpu support
  .gitignore
  control_plane/__init__.py
  control_plane/engine_lifecycle.py
  control_plane/manager.py
Due: no-print-statements, check-imports

feat(control-plane): add engine lifecycle, dynamic discovery and backend registration
  control_plane/__init__.py
  control_plane/engine_lifecycle.py
  control_plane/manager.py
  control_plane/types.py
  tests/test_unified_api_server.py
Due: test-naming-convention, no-print-statements, check-imports

fix(control_plane): unify port reservation across manager and lifecycle
  control_plane/engine_lifecycle.py
  control_plane/manager.py
Due: no-print-statements, check-imports

fix(control-plane): prevent engine restart accumulation and add grace period
  control_plane/engine_lifecycle.py
  control_plane/executors/local_async.py
  control_plane/manager.py
Due: no-print-statements, check-imports

fix(control-plane): release resources on engine stop and improve engine registration
  control_plane/manager.py
Due: no-print-statements, check-imports
